body {
    display: grid;
    grid-template:
        "header" auto
        "main" 1fr
        "footer" auto;
    position: relative;
    min-height: 100vh;
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 2.125rem 1.5rem 48px;
    font-family: $ff-sans-serif;
    font-size: 100%;
    text-rendering: optimizeSpeed;
    color: $clr-gray-dk;
    background: transparent url(../images/bg-mobile.svg) center center/cover no-repeat;

    @media screen and (min-width: 48rem) {
        padding: 3.75rem 5.25rem;
        // padding: 3.75rem 1.5rem;
        background: transparent url(../images/bg-desktop.svg) center center/cover no-repeat;
        grid-template:
            "header footer" auto
            "main footer" 1fr / 1fr auto;
    }
}

header {
    grid-area: header;
    padding-bottom: 3.25rem;

    @media screen and (min-width: 48rem) {
        padding-bottom: 7rem;
    }
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;

    @media screen and (min-width: 48rem) {
        //gap: 5.5rem;
    }
    &>.wrapper-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: 48rem) {
            flex-grow: 1;
        }
    }
    &>.wrapper-contact {
        @media screen and (min-width: 48rem) {
            color: $clr-accent;
        }
    }
}

picture img {
    //background-color: hsla(352, 36%, 44%, 0.521);
    width: 283px;
    height: 410px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -100;

    @media screen and (min-width: 48rem) {
        width: 436px;
        height: 631px;
        right: 15%;
    }
}

footer {
    grid-area: footer;
    align-self: end;
}

.wrapper-social {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 48rem) {
        text-align: right;
        writing-mode: vertical-rl;
        gap: 5rem;
    }
}

ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}



.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}