@font-face {
    font-family: 'Asul';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/asul-v19-latin-700.woff2') format('woff2'),
        url('../fonts/asul-v19-latin-700.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/figtree-v1-latin-300.woff2') format('woff2'),
        url('../fonts/figtree-v1-latin-300.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/figtree-v1-latin-500.woff2') format('woff2'),
        url('../fonts/figtree-v1-latin-500.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/figtree-v1-latin-700.woff2') format('woff2'),
        url('../fonts/figtree-v1-latin-700.woff') format('woff');
    font-display: swap;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    .text-header {
        font-size: $fs-heading1;
        font-size: clamp($fs-heading1, 2.6rem + 2vw, 5rem);
        font-family: $ff-serif;
    }

    .text-subtitle {
        display: block;
        font-size: $fs-subtitle;
        font-size: clamp($fs-subtitle, 1.125rem + 0.3125vw, 1.5rem);
        margin-top: 1rem;
    }
}

h2 {
    font-size: $fs-heading2;
    line-height: 19px;
}

h3 {
    font-size: $fs-lead;
    margin: 1rem 0;
    line-height: 20.20px;
}

p {
    font-size: $fs-text;
    font-weight: 300;
    line-height: 19.125px;
    max-width: 35ch;

    &.text-para {
        font-size: clamp($fs-text, 1.025rem + 0.1875vw, 1.25rem);
        margin: 12px 0;
        line-height: 1.275rem;
        line-height: clamp(1.275rem, 0.762vw + 1.078rem, 1.688rem);
    }

    &.text-logo {
        font-size: $fs-heading2;
        color: $clr-black;
        font-weight: 700;
    }

    &.text-lead {
        font-size: $fs-lead;
        font-size: clamp($fs-lead, 1.1rem + 0.125vw, 1.25rem);
        color: $clr-primary;
        font-weight: 500;
        line-height: 22.5px;
    }

    &.text-social {
        color: $clr-white;
        font-weight: 700;
        line-height: 19px;
    }
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

address>a {
    font-style: normal;
    font-weight: 300;
}

a:hover {
    color: $clr-accent;
    text-decoration: underline;
    text-underline-offset: 3px;
}

a img:hover {
    filter: drop-shadow(0px 0px 4px $clr-accent);
}

small {
    font-size: 0.7rem;
}

//Line

@mixin line {
    content: "";
    position: absolute;
    inset-block-start: -50%; //from top
    inline-size: 40px; //physical width
    block-size: 100%; //physical height
    border-block-end: 1px solid currentColor;
}

.text-logo,
h2.text-title {
    position: relative;
    margin-inline-start: 48px;
}

.text-social {
    position: relative;
}

.text-logo::before,
h2.text-title::before {
    @include line();
    margin-inline-start: -48px;
}

.text-social::after {
    @include line();
    margin-inline-start: 16px;
}