h1 {
    font-size: $fs-heading1;
    font-weight: 700;

    .text-header {
        font-family: $ff-serif;
    }

    .text-subtitle {
        display: block;
        font-size: 1.1875rem;
        margin-top: 1rem;
    }
}

h2 {
    font-size: $fs-heading2;
    font-weight: 700;
    line-height: 19px;
}

h3 {
    font-size: $fs-heading2;
    font-weight: 700;
    margin: 1rem 0;
    line-height: 20.20px;
}

p {
    font-size: $fs-text;
    font-weight: 300;
    line-height: 19.125px;
    max-width: 35ch;
    &.text-para {
        margin: 12px 0;
        line-height: 1.2;
    }
    &.text-logo {
        font-size: $fs-heading2;
        color: $clr-black;
        font-weight: 700;
    }
    &.text-lead {
        font-size: $fs-lead;
        color: $clr-primary;
        font-weight: 500;
        line-height: 22.5px;
    }
    &.text-social {
        color: $clr-white;
        font-weight: 700;
        line-height: 19px;
    }
}



// .wrapper-contact>* {
//     color: yellow;
// }


a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $clr-accent;
    text-decoration: underline;
    text-underline-offset: 3px;
}

//Line

@mixin line {
    content: "";
    position: absolute;
    inset-block-start: -50%; //from top
    inline-size: 40px; //physical width
    block-size: 100%; //physical height
    border-block-end: 1px solid currentColor;
}

.text-logo,
h2.text-title {
    position: relative;
    margin-inline-start: 48px;
}

.text-social {
    position: relative;
}

.text-logo::before,
h2.text-title::before {
    @include line();
    margin-inline-start: -48px;
}

.text-social::after {
    @include line();
    margin-inline-start: 16px;
}